body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

h1 {
    text-align: center;
}

form {
    margin: 8px;
}

textarea, button {
    width: 100%;
    margin-bottom: 10px;
}

.half-section {
    width: 48%;
    display: inline-block;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #3f9243;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
